<h1>New Order</h1>

<%= form_with(model: @order, local: true) do |form| %>
  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, Product.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Order' %>
  </div>
<% end %>
